<div
  class="-m-1px flex rounded-1 border border-stone-300 bg-amber-400 dark:border-black"
>
  <div class="flex min-h-10sq flex-1 flex-col justify-between p-8">
    <div class="mt-2 flex-1">
      <h3 class="mb-8 font-heading text-3xl font-bold">Think Alike?</h3>
      <p class="text-lg">
        Book a one-on-one call with me and let's explore ideas together.
      </p>
    </div>
    <div class="flex flex-col">
      <a
        href="https://cal.com/stefanolaru/30min"
        class="relative inline-block select-none"
        target="_blank"
      >
        <span
          class="flex min-h-16 items-center justify-center rounded-1 border border-white bg-white text-black"
          ><span class="font-mono text-sm uppercase">Book a Call</span></span
        >
        <span
          aria-hidden="true"
          class="ease-in-out-energetic duration-short absolute inset-0 flex min-h-16 translate-y-0 transform-gpu items-center justify-center rounded-1 border border-black bg-black text-white transition-transform hover:-translate-y-[5.25px] active:translate-y-0"
          ><span class="font-mono text-sm uppercase">Book a Call</span></span
        >
      </a>
    </div>
  </div>
</div>
