<div
  class="lg:dark:gradient-grid-dark lg:gradient-grid -mt-1px flex border-t border-stone-300 bg-right-top md:order-3 md:col-span-2 xl:order-2 xl:col-span-1 xl:border-l xl:border-t-transparent dark:border-black"
>
  <div
    class="-m-1px flex-1 select-text rounded-1 border border-stone-300 bg-amber-400 px-8 py-10 selection:bg-amber-600 selection:text-white xl:translate-y-40 dark:border-black"
  >
    <h2 class="mb-8 font-heading text-3xl font-bold">Effective Communicator</h2>
    <div class="text-lg leading-relaxed">
      <p class="mb-4 font-bold">
        I talk <em>tech</em> with devs, and
        <em>business</em> with stakeholders.
      </p>
      <p class="mb-4">
        I can explain complex concepts in simple terms and bridge the gap
        between tech &amp; non-tech.
      </p>

      <p class="mb-4">
        <em title="Asyncronous Communication">async</em>
        is my default mode, but I'll jump on chats &amp; calls whenever necessary.
      </p>
      <p>
        Remote yet responsive, I'm based in
        <a
          href="https://www.google.com/maps/place/Ia%C8%99i"
          target="_blank"
          class="underline">Iași, Romania</a
        >
        (UTC+3) and align best with teams in Europe &amp; the US.
      </p>
    </div>
  </div>
</div>
