<div
  class="order-last flex border-t border-stone-300 bg-white md:col-span-2 lg:col-span-3 lg:row-span-2 xl:order-first xl:col-span-1 xl:border-t-0 dark:border-black dark:bg-neutral-800 dark:text-white"
>
  <div class="col-span-2 px-8 py-10 text-lg leading-relaxed">
    <p class="font-heading text-2xl leading-normal xl:mb-4">
      Everything that can be simplified,
      <em>should be</em>.
    </p>
    <p class="mb-8 font-heading text-2xl leading-normal">
      Anything that can be automated,
      <em>must be</em>.
    </p>
    <p>
      Fascinated by the Bauhaus movement, I find its core principles — <em
        >form follows function</em
      >, simplicity, effectiveness, smart resource usage, and continuous
      improvement — highly relevant to modern software development and they
      guide everything I do.
    </p>
  </div>
</div>
