<div class="flex bg-stone-100 dark:bg-neutral-900">
  <div
    class="-m-1px flex-1 overflow-hidden rounded-1 border border-stone-300 bg-stone-200 dark:border-black dark:bg-neutral-700 dark:text-white"
  >
    <div class="px-8 py-10">
      <h2 class="mb-8 font-heading text-3xl font-bold">Human</h2>
      <p class="mb-4">
        I love spending time outdoors, be it hiking, running, mushroom hunting,
        or open fire cooking.
      </p>
      <p class="mb-4">
        Friends know me as an afficionado of grilling and smoking meats.
      </p>
      <p>
        I'm a relentless builder, constantly engaged in DIY projects, not just
        software.
      </p>
    </div>
  </div>
</div>
