<div
  class="order-last min-h-10sq border-t border-stone-300 px-8 py-10 leading-relaxed md:col-span-3 xl:col-span-2 xl:row-span-2 dark:border-black dark:text-white"
>
  <h2 class="mb-8 font-heading text-3xl font-bold">Lifelong Learner</h2>
  <div class="text-lg leading-relaxed">
    <p class="mb-4">
      I'm naturally curious and an explorer at heart, always eager for new
      challenges and enthusiastic about learning &amp; building things - not
      just in tech.
    </p>
    <p>
      Able to grasp new concepts quickly, I remain humble, teachable and open,
      fully aware there's always more to discover.
    </p>
  </div>
</div>
