<div class="flex bg-stone-100 dark:bg-neutral-900">
  <div
    class="-m-1px flex-1 rounded-1 border border-stone-300 bg-white px-8 py-10 dark:border-black dark:bg-neutral-800 dark:text-white"
  >
    <h3 class="mb-8 font-heading text-3xl font-bold">Open Book</h3>
    <p class="mb-4">
      I don't have a CS degree; I'm a self-taught developer who carved my way
      through hard work, and a touch of luck.
    </p>

    <p class="mb-4">
      I'm a proud generalist – a
      <em>Jack of all trades, master of some</em>.
    </p>
    <p>
      My diverse skill set is my strength, it allows me to connect the dots and
      see the big picture.
    </p>
  </div>
</div>
