<div class="flex bg-stone-100 dark:bg-neutral-900">
  <div
    class="-m-1px flex-1 rounded-1 border border-stone-300 bg-white px-8 py-10 dark:border-black dark:bg-neutral-800 dark:text-white"
  >
    <h2 class="mb-8 font-heading text-3xl font-bold">Product Minded</h2>
    <p class="mb-4">
      Born to build, turning ideas into reality is what drives me. It's not just
      about crafting technically excellent products &hellip;
    </p>
    <p class="mb-4">
      <em>I am dedicated to their success.</em>
    </p>
    <p>
      I constantly seek the bigger picture, ask
      <em>why</em> a lot, challenge assumptions, weight trade-offs, and offer alternative
      solutions.
    </p>
  </div>
</div>
