<div class="flex bg-stone-100 dark:bg-neutral-900">
  <div
    class="-m-1px flex-1 rounded-1 border border-stone-300 bg-white px-8 py-10 dark:border-black dark:bg-neutral-800 dark:text-white"
  >
    <h3 class="mb-8 font-heading text-3xl font-bold">Team Leader</h3>
    <p class="mb-4">
      Self-driven &amp; fully capable of working solo, I'm like a chef in the
      kitchen when part of teams.
    </p>
    <p class="mb-4">
      I build, lead and scale cohesive tech teams, nurturing talent and
      encouraging continuous growth.
    </p>
    <p>
      Beyond tech skills, I bring patience, empathy and humor, ensuring we ship
      & have fun.
    </p>
  </div>
</div>
